{% extends 'music/base.html' %}
{% block title %}Контакты{% endblock %}
{% block contacts_active %}active{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">

        <div class="panel panel-default">
            <div class="panel-body">
                <h1 class="rent-header">Контакты</h1>
                <!--<h3>Звоните нам с 9 до 23 часов:</h3>
                <p class="lead">+7 (989) 862-80-08</p>
                <h3>Адрес и время работы:</h3>
                <p class="lead">с.Карабудахкент, ул.Дахадаева. Здание Клуба, на против сельской администрации(сельсовет).</p>
                <p class="lead">Пн-Вс с 10:00 до 00:00</p>
                <h3>Мы в социальных сетях:</h3>
                <p class="lead">Instagram</p>-->
                <address>
                  <strong>Адрес и время работы.</strong><br>
                    с.Карабудахкент, ул.Дахадаева.<br>
                    Здание Клуба, на против сельской администрации(сельсовет).<br>
                    Пн-Вс с 10:00 до 00:00<br>
                    <abbr title="Телефон">Тел:</abbr> +7 (989) 862-80-08
                </address>

                <address>
                  <strong>Почта.</strong><br>
                    <a href="mailto:#">kinostart05@mail.ru</a>
                </address>

                <address>
                  <strong>Мы в социальных сетях.</strong><br>
                    Instagram:
                    <a target="_blank" href="https://www.instagram.com/kinoteatr_karabudahkent/">kinoteatr_karabudahkent</a>
                </address>
            </div>
        </div>
    </div>

</div>
{% endblock %}
