{% extends 'music/base.html' %}
{% block title %}Добавить сеанс фильма "{{ album.movie_title }}"{% endblock %}
{% block albums_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        <!-- Left Album Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'music:detail' movie.id %}">
                        {% if movie.movie_logo %}
                            <img src="{{ movie.movie_logo.url }}" class="img-responsive">
                        {% else %}
                            <h3>No image to display</h3>
                        {% endif %}
                    </a>
                    <h1 align="center">{{ movie.movie_title }}</h1>

                    <table class="table">
                        <tbody>
                            <tr>
                                <td align="left">Страна:</td>
                                <td align="right">{{ movie.production }}</td>
                            </tr>
                            <tr>
                                <td align="left">Жанр:</td>
                                <td align="right">{{ movie.genre }}</td>
                            </tr>
                            <tr>
                                <td align="left">Продолжительность:</td>
                                <td align="right">{{ movie.duration }} мин.</td>
                            </tr>
                            <tr>
                                <td align="left">Возрастное ограничение:</td>
                                <td align="right">{{ movie.age_limit }}+</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Right Song Info -->
        <div class="col-sm-8 col-md-9">

            <!--<ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation"><a href="{% url 'music:detail' movie.id %}">Вернуться к фильму</a></li>
                <li role="presentation" class="active"><a href="{% url 'music:create_session' movie.id %}">Add New Song</a></li>
            </ul>-->

            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Добавить сеанс фильма "{{ movie.movie_title }}"</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="album" value="{{ album }}">
                        {% include 'music/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Добавить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}

