{% extends 'music/base.html' %}
{% block title %}Расписание сеансов{% endblock %}
{% block songs_active %}active{% endblock %}

{% block body %}
<div class="container-fluid songs-container">

    <!--
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" {% if filter_by == 'all' %}class="active"{% endif %}><a href="{% url 'music:sessions' 'all' %}">Все фильмы</a></li>
                <li role="presentation" {% if filter_by == 'favorites' %}class="active"{% endif %}><a href="{% url 'music:sessions' 'favorites' %}">Лучшие</a></li>
            </ul>
        </div>
    </div>
    -->
    <div class="col-sm-12">
        <div class="page-header">
            <h1 class="rent-header">Расписание сеансов</h1>
        </div>
    </div>

    <div class="row">
        <div class="session-table">

            <div class="col-sm-12">

                <div class="panel panel-info">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Время сеанса</th>
                                    <th>Название</th>
                                    <th>Жанр</th>
                                    <th>Цена</th>
                                    <th>Возрастное ограничение</th>
                                    <th>Страна</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for session in session_list %}
                                    <tr>
                                        <td>{{ session.session_time }}</td>
                                        <td><a href="{% url 'music:detail' session.movie.id %}">{{ session.movie.movie_title }}</a></td>
                                        <td>{{ session.movie.genre }}</td>
                                        <td>{{ session.price }} руб.</td>
                                        <td align="center">{{ session.movie.age_limit }}+</td>
                                        <td>{{ session.movie.production }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
{% endblock %}
